on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '4.0'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - uses: sonarsource/sonarqube-scan-action@v3
        with:
          sonarHostUrl: ${{ secrets.SONAR_HOST_URL }} 
          args: >
            -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} 
            -X
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
